.header-location{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: #B40000 2px solid;
}
.logo{
    display: flex;
    padding-right: 10%;
}
a{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height */


    color: #000000;
}
a:hover{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height */


    color: #B40000;
}


.together2 {
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

.the2 {
    font-family: 'Centurion', serif;
    color: #B40000;
    font-size: 1rem;
    margin-top: 0;
    padding-left: 57px;
}

.Lantern2 {
    font-family: 'Centurion', serif;
    color: #B40000;
    font-size: 5rem;
}