.footer-location{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    padding-top: 30px;
    border-top: #B40000 2px solid;
}
.logo{
    display: flex;
    width: 5%;
}
p{

}
.social-media-logo{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
@media screen and (min-width: 480px) {
    .footer-location {
        flex-wrap: wrap;
        padding: 30px 20px;
    }
    .logo {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-location div {
        width: 50%;
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .footer-location div:nth-child(2) {
        margin-top: 20px;
    }
    .social-media-logo {
        margin-top: 20px;
        justify-content: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .footer-location div {
        width: 25%;
        padding: 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .footer-location {
        padding: 30px 0;
    }
    .footer-location div {
        width: auto;
        padding: 0 30px;
    }
    .social-media-logo {
        margin-top: 0;
    }
}